*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  margin: 133px 30px;
}

.result {
  margin-right: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding-left: 0;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: #1b1919;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  padding-right: 73px;
  padding-left: 73px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 400px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 2px;
  margin-right: 4px;
  padding-left: 2px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  padding-top: 3px; 
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.content__video-card-description {
  margin-top: 4px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.content__card-link:focus {
  border: none;
}

.content__card-link:focus-visible {
  padding: 3px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  margin-right: 3px;
  margin-bottom: 2px;
  margin-left: 2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}